.header {
  .navbar {
    display: flex;
    justify-content: space-between;
    padding: 0px 200px;

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    z-index: 100;

    .menu {
      ul {
        display: flex;
        list-style: none;

        li {
          margin: 0px 30px;
          cursor: pointer;
        }

        & .active {
          color: white;
          border-bottom: solid 1px white;
        }

        li:last-child {
          margin-right: 0;
        }
      }
    }
  }
}